.research-container {
	padding: 5% 0;
	overflow-wrap: break-word;
}

.researchInfo {
	padding: 20px;
	margin: 15px 0;
}

.researchInfo .row{
	align-items: center;
}

@media screen and (max-width: 600px) {
	.research-container {
	  padding: 15% 4%;
    }

}