<div class="container research-container">
	<div id="research1" class="researchInfo">
		<div class="row">
			<div class="row justify-content-md-center">
		  		<h1>New synthetic biology tools for metabolic control</h1>
		  	</div>
		</div>
		<div class="row">
			<div class="col-4">
				<div class="row justify-content-md-center">
        			<img src="../../assets/research1.jpg" width="100%">
        		</div>
			</div>
			<div class="col-8">
				<p>The group is interested in using and developing new synthetic biology tools that allow us to precisely manipulate 	microbial cells in a reliable, 	predictable and standardised way. In particular, we are interested in those cutting-edge 	techniques that permit a fine tuning of metabolic pathways.
				</p>
				<p>
				For further reading see our last reviews on synthetic biology tools in <a href="https://www.sciencedirect.com/science/article/pii/S0734975018301678">Yarrowia	</a> and <a href="https://www.cell.com/trends/biotechnology/fulltext/S0167-7799(17)30277-9">Rhodosporidium</a>.
        		</p>
        	</div>
		</div>	
	</div>
	<div id="research2" class="researchInfo">
		<div class="row">
			<div class="row justify-content-md-center">
		  		<h1>Metabolic engineering for sustainable bioproduction</h1>
		  	</div>
		</div>
		<div class="row">
			<div class="col-8">
				<p>The manipulation and optimization of microbial metabolic pathways are the keys for biotechnology and a bio-based economy. The research group is highly 	interested in hacking metabolism using synthetic biology tools to create new properties and enhanced behaviors in microbial cells.  The engineering 	strategies are not only designed to produce new high-value products or higher amount of pre-existing products but also to facilitate the downstream and 	upstream parts of the bioprocesses.
				</p>
				<p>The lab is interested in engineering both, conventional (such as E. coli, B. subtilis and S. cerevisiae) and non-conventional organisms, which span from 	yeast (Y. lipolytica), fungus (A. gossypii) and bacteria (K. rhaeticus).</p>
				<p>
				For further reading see our last reviews on the importance of substrates in bioproduction (<a href="https://www.cell.com/trends/biotechnology/fulltext/	S0167-7799(16)30029-4">https://www.cell.com/trends/biotechnology/fulltext/S0167-7799(16)30029-4</a>) and engineering production in Yarrowia (<a href="	https://www.sciencedirect.com/science/article/pii/S0163782715300205">https://www.sciencedirect.com/science/article/pii/S0163782715300205</a>).
        		</p>
        	</div>
			<div class="col-4">
			 	<div class="row justify-content-md-center">
        			<img src="../../assets/r2.png" width="100%">
        		</div>
			</div>
		</div>	
	</div>
	<div id="research3" class="researchInfo">
		<div class="row">
			<div class="row justify-content-md-center">
		  		<h1>Synthetic microbial communities for biotechnology and biomedicine</h1>
		  	</div>
		</div>
		<div class="row">
			<div class="col-4">
			 	<div class="row justify-content-md-center">
        			<img src="../../assets/r3.png" width="100%">
        		</div>
			</div>
			<div class="col-8">
				<p>Microbial communities are important for both industrial bioprocesses (i.e. soy sauce production) and biomedicine (i.e. gut or skin microbiota). We are 	interested in how microbial communities can be engineer and how synthetic biology can help to establish novel communities of microbes which can have 	applications in biotechnology and healthcare.
				</p>
				<p>
				For further reading see our last review on synthetic microbial communities (<a href="https://www.cell.com/trends/biotechnology/fulltext/S0167-7799(18)30312-3"	>https://www.cell.com/trends/biotechnology/fulltext/S0167-7799(18)30312-3</a>).
        		</p>	
			</div>
		</div>	
	</div>
	<hr />
	<div class="row justify-content-md-center">
		<h1>Affiliations</h1>
		<div class="row">
			<div class="col">
				<h3>Imperial College London</h3>
				<p><a href="https://www.imperial.ac.uk/">https://www.imperial.ac.uk/</a></p>
			</div>
			<div class="col">
				<h3>Imperial College Centre for Synthetic Biology (IC-CSynB)</h3>
				<p><a href="http://www.imperial.ac.uk/synthetic-biology/centre/">http://www.imperial.ac.uk/synthetic-biology/centre/</a></p>				
			</div>
			<div class="col">
				<h3>Bioengineering Department</h3>
				<p><a href="https://www.imperial.ac.uk/bioengineering\">https://www.imperial.ac.uk/bioengineering\</a></p>				
			</div>
		</div>
	</div>
</div>