<div class="container contact-container">
	<div class="row">
		<div class="col">
			<agm-map [latitude]="map.lat" [longitude]="map.lng" [zoom]="16" [streetViewControl]="false" style="height: 300px">
  				<agm-marker [latitude]="map.lat" [longitude]="map.lng"></agm-marker>
			</agm-map>
		</div>
		<div class="col">
			<p style="font-weight: bold;margin-bottom:8px;">Dr Rodrigo Ledesma-Amaro</p>
			<hr style="margin-top:0" />
			<p>Imperial College Centre for Synthetic Biology (IC-CSynB) and the Department of Bioengineeing at Imperial College London</p>
			<p><a href="https://www.imperial.ac.uk/people/r.ledesma-amaro">https://www.imperial.ac.uk/people/r.ledesma-amaro</a></p>
			<p>Email: <a href="mailto:r.ledesma-amaro@imperial.ac.uk">r.ledesma-amaro@imperial.ac.uk</a></p>
			<p>Twitter: <a href="https://twitter.com/ledesmaamaro">@LedesmaAmaro</a></p>
			<p>ResearchGate: <a href="https://www.researchgate.net/profile/Rodrigo_Ledesma-Amaro">Rodrigo Ledesma Amaro</a></p>
			<p>Google Scholar: <a href="https://scholar.google.com/citations?user=kWTPnDIAAAAJ&hl=es">Rodrigo Ledesma Amaro</a></p>
			<p style="font-weight: bold;margin-bottom:8px;">Lab Address</p>
			<hr style="margin-top:0"/>
			<p>604 Bessemer Building, Imperial College London, South Kensington Campus, London SW7 2AZ, United Kingdom</p>
			<p style="font-weight: bold;margin-bottom:8px;">Office Address</p>
			<hr style="margin-top:0"/>
			<p>702 Bessemer Building, Imperial College London, South Kensington Campus, London SW7 2AZ, United Kingdom</p>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<p style="font-weight: bold;margin-bottom:8px;">Positions - Join the group</p>
			<hr style="margin-top:0"/>
			<p>If you are a talented and highly motivated researcher/student with knowledge/interest in the research areas of the group and you would like to join us, please email us with your CV and motivation (r.ledesma-amaro@imperial.ac.uk).</p>
			<p style="font-weight: bold;margin-bottom:8px;">Consulting</p>
			<hr style="margin-top:0"/>
			<p>Dr Ledesma-Amaro and the lab believe that academic knowledge has a key role in translational research, and we are currently involved in partnerships with several companies at different levels. We often consider consultancy tasks that relies in our field of expertise. Please contact us for more information (r.ledesma-amaro@imperial.ac.uk).
			Additional information can be found at:
			https://www.imperial-consultants.co.uk/expertise-areas/bioengineering-biotechnology.html</p>

		</div>	
	</div>
</div>
