.main-bg {
  width:100%;
  height: 100vh;
  background: url(../../assets/CoverCell.jpg) no-repeat center center fixed;
  background-color: rgba(0,0,0,0.5);
  background-size: cover;
  overflow: hidden;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  @media (max-width: 667px) {
       background-attachment: scroll;
   }
}

.main-title {
	color:#fff;
}

.sub-title {
	font-size: 18px;
	font-weight: bold;
	background: rgb(18,31,27,0.8);
	padding: 15px;
	margin-top: 20px;
	color: #fff;
	text-align: center;
	width: 100%;
}

.interests {
	padding-top: 25px;
	padding-bottom: 25px;
}

.interests .view{
	margin:15px 0;
}

.interests .row{
	justify-content: center;
}

.nav-item:hover {
	margin:5px;
}

.main-text {
	margin: 0 auto;
	color: #fff;
	width: 80%;
	text-align: center;
	margin-top: 15%;
}

.main-text h1 {
	font-size: calc(5em + 5vw);
	text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);
	animation-duration: 1s;
}

.main-text p {
	font-size: calc(2em + 1vw);
	animation-duration: 2s;
	animation-delay: 1s;	
}

.resume {
	padding: 2%;
	font-size: calc(0.8em + 1vw);
	text-align: center;
}

.member-description {
	display: inline-block;
	width: 78%;
	vertical-align: top;
	background-color: rgba(255,255,255,0.9);
}

.member-description h3 {
	padding: 0 5px;
}

.background-content p{
	width: 76%;
	display: inline-block;
	margin: 1%;
	vertical-align: top;
	font-size: calc(1em + 0.5vw);
}

.publications-content {
	margin: 0 auto;
	width: 60%;
}

.list-publications img {
	display: inherit;
	width: 150px;
	margin:	0 auto;

}

.publications-content h1 {
	color: #2e5979;
	text-align: center;
	font-size: calc(1em + 2vw);
}

.publication {
	border: 1px solid #eaeaea;
	box-shadow: 2px 1px 3px #eaeaea;
	width: 80%;
	margin: 10px auto;
	padding: 15px;
}

.publication a:link{
	color: #569EB0;
	text-decoration: none;
}

.publication a:visited{
	color: #569EB0;
	text-decoration: none;
}

@media screen and (max-width: 600px) {
	.main-text {
		margin-top: 25%;
	}

	.view img {
		margin: 0 auto;
	}
}