<div class="main-bg" id="home">
	<div class="main-text">
	  <h1 class="animated fadeInDown">RLAlab</h1>
	  <p class="animated fadeInLeft">Synthetic Biology</p>
	  <p class="animated fadeInRight">for Metabolic Engineering</p>
	</div>
</div>
<div class="resume">
  The RLAlab is interested in how the development of synthetic biology can revolutionise biotechnologies and help us to move towards a sustainable bio-based economy. We engineer microorganisms for a wide range of applications which span from the production of the chemicals and fuels we usually get from petroleum to their use in biomedicine and therapeutics.
</div>
<hr />
  <div class="interests container" id="interests">
    <div class="row justify-content-md-center">
    	<h1>RESEARCH LINES</h1>
    </div>
    <div class="row justify-content-md-center">
      <div class="view overlay zoom col-sm">
        <img src="../assets/Research1.png" class="img-fluid" alt="zoom">
        <div class="mask flex-center waves-effect waves-light">
          <p class="white-text"><a routerLink="/research"><mdb-icon fas icon="search"></mdb-icon>View Detail</a></p>
        </div>
      </div>
      <div class="view overlay zoom col-sm">
        <img src="../assets/Research2.png" class="img-fluid" alt="zoom">
        <div class="mask flex-center waves-effect waves-light">
          <p class="white-text"><a routerLink="/research"><mdb-icon fas icon="search"></mdb-icon>View Detail</a></p>
        </div>
      </div>
      <div class="view overlay zoom col-sm">
        <img src="../assets/Research3.png" class="img-fluid" alt="zoom">
        <div class="mask flex-center waves-effect waves-light">
          <p class="white-text"><a routerLink="/research"><mdb-icon fas icon="search"></mdb-icon>View Detail</a></p>
        </div>
      </div>
    </div>  
  </div>