<div class="container socials-container">
<mdb-carousel [isControls]="true" class="carousel slide carousel-fade" [animation]="'fade'">
  <mdb-carousel-item>
    <div class="view w-100">
      <img class="d-block w-100" src="../../assets/social2.png" alt="First slide">
      <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
    </div>
    <div class="carousel-caption">
      <p>Chinese new year celebration</p>
    </div>
  </mdb-carousel-item>
  <mdb-carousel-item>
    <div class="view w-100">
      <img class="d-block w-100" src="../../assets/social3.png" alt="Second slide">
      <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
    </div>
    <div class="carousel-caption">
      <p>Workshop in Poland</p>
    </div>
  </mdb-carousel-item>
    <mdb-carousel-item>
    <div class="view w-100">
      <img class="d-block w-100" src="../../assets/social4.png" alt="Third slide">
      <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
    </div>
    <div class="carousel-caption">
      <p>Hiking in England</p>
    </div>
  </mdb-carousel-item>
    <mdb-carousel-item>
    <div class="view w-100">
      <img class="d-block w-100" src="../../assets/social5.png" alt="Forth slide">
      <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
    </div>
    <div class="carousel-caption">
      <p>Hiking in England</p>
    </div>
  </mdb-carousel-item>
    <mdb-carousel-item>
    <div class="view w-100">
      <img class="d-block w-100" src="../../assets/social6.png" alt="Fifth slide">
      <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
    </div>
    <div class="carousel-caption">
      <p>After work pub</p>
    </div>
  </mdb-carousel-item>
  <mdb-carousel-item>
    <div class="view w-100">
      <img class="d-block w-100" src="../../assets/social1.png" alt="Sixth slide">
      <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
    </div>
    <div class="carousel-caption">
      <p>Food and drinks at Imperial Union</p>
    </div>
  </mdb-carousel-item>
</mdb-carousel>
</div>
