/* You can add global styles to this file, and also import other style files */
body {
  font-family: 'Merriweather', sans-serif;
  color:#383838;
  font-weight: 300;
  font-size: 14px;
}

h1,h2 {
	color:#212121;
}