<div class="container publications-container">
  <div class="row">
  	<div class="col">
	  <div *ngFor="let publication of publications"> 
   	    <mdb-card>
		  <mdb-card-body>
		    <mdb-card-title>
		      <h4><a href="{{publication.doiUrl}}">{{publication.title}}</a></h4>
		    </mdb-card-title>
		   <h5>{{publication.authors}},{{publication.extraAuthors}}</h5>
		   <h6><b>{{publication.journalText}}</b></h6>
		   <span>{{publication.publicationDate}}</span>
		  </mdb-card-body>
		</mdb-card>
  	 </div> 
  	</div>	
</div>
