.publications-container {
	padding: 5%;
	margin-top: 15px;

	mdb-card {
		margin:15px 0;
	}

	.card-body {
		padding: 0.55rem;
	}
}

@media screen and (max-width: 600px) {
	.publications-container {
	  padding: 15% 5%;
    }
}